{% set blockClass = blockClass|default('form') %}

<div class="form__input-wrap {{ blockClass }}__input-wrap {{ cssClass|default }}">
  {% if label|default %}
    <label for="" class="{{ blockClass}}__form-label form__label">{{ label }}{% if required|default %}*{% endif %}</label>
  {% endif %}
  {% if instruction is defined and instruction | length %}
    <div class="form__instruction">
      {{ instruction|default('') }}
    </div>
  {% endif %}
  <input 
  type="{{ type|default('text') }}"
  class="{{ blockClass|default}}__form-input form__input"
  name="{{ name }}"
  placeholder="{{ placeholder|default('') }}"
  value="{{ value|default('') }}"
  {{ novalidate|default }}
  max="{{ max|default }}"
  {{ disabled|default('') ? 'disabled="disabled"' : '' }}
  {{ autocomplete|default ? 'autocomplete="'~autocomplete|default~'"' }}
  {{ maxlength|default ? 'maxlength="'~maxlength|default~'"' }}
  >
  <div class="form__input-error-msg"></div>
  {% if subText|default %}
    <p class="form__sub-text">{{ subText|raw }}</p>
  {% endif %}
  {% if hint is defined and hint | length %}
  <div class="form__hint">
    {{ hint|default('') }}
  </div>
{% endif %}

</div>